*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
}

.container {
    max-width: 1070px;
    margin: 0 auto;
}

.header{
    background-color: rgba(255, 113, 67, 0.27);
    padding: 38px 0 48px;
    
}

.header___flex, .footer___flex, .about, .subscribe, .plan___flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_li {
    display: inline-block;
}

.nav_li:not(:first-of-type) {
    margin-left: 49px;
}

.nav_link {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px;
    color: #696871;
    text-decoration: none;
}

.nav_link:hover{
    color:black;
    transition: 100ms;
}

.button {
    width: 212px;
    height: 60px;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button_orange{
    background: #FF7143;
}

.button_orange:hover{
    background: #cf4f24;
    transition: 500ms;
}

.about {
    margin: 105px auto 85px;
}

.about___title {
    font-weight: bold;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191B;
    max-width: 467px;
    margin-bottom: 30px;
}

.about___text {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    max-width: 464px;
    margin-bottom: 50px;
}

.button___violet {
    background: #5454D4;
    border-radius: 10px;
    margin-right: 35px;
}

.button___transparent {
    background: none;
    color: #5454D4;
    border: 1px solid #5454D4;
}

.footer {
    background-color: #FF714345;
    padding: 53px 0;
}

.footer___li {
    display: inline-block;    
}

.footer___link {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px;
    color: #696871;
    text-decoration: none;
}

.footer___link:hover{
    color:black;
    transition: 100ms;
}

.footer___li:not(:first-of-type) {
    margin-left: 34px;
}

.subscribe {
    margin-bottom: 85px;
}

.subscripe___title {
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56316px;
    color: #19191B;
    margin-bottom: 38px;
}

.input {
    width: 302px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #7087FF;
    padding-left: 14px;
    box-sizing: border-box;
    margin-right: 39px;
    
}

.input::placeholder, .input {
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #000000;
}

.input:focus {
    outline: none;
}

.plan {
    margin-bottom: 132px;
}

.plan___title {
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
    max-width: 504px;
    margin-bottom: 110px;

}

.item {
    width: 330px;
    background: #F8F8F8;
    border-radius: 10px;
    text-align:center;
    padding: 34px 0 27px;
}

.item:hover {
    background: #FF7143;
    box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
    transition: 500ms;
}

.item___text {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.562737px;
    color: #696871;
}

.item:hover .item___text, .item:hover .item___title, .item:hover .item___li{
    color: white;
    transition: 500ms; 

}

.item___title {
    font-weight: bold;
    font-size: 60px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -1.03448px;
    color: #1D293F;
    max-width: 22px 0 28px;
}

.item___title span {
    font-size: 28px;
}

.item___li {
    list-style: none;
    font-size: 17px;
    line-height: 50px;
    letter-spacing: -0.531474px;
    color: #696871;
}

.button___item {
    width: 285px;
    background: white;
    color: #5454D4;
    margin-top: 36px;
}

.item:hover .button___item {
    background: #9F3919;
    color: white;
    transition: 500ms;
}








    

